.brandLogo {
  color: red;
}

.navSignOut {
  margin-left: 1em;
  background-color: #fff;
  color: #4ea96f;
  border: #4ea96f solid 1px;
}

.navSignOut:hover, .navSignOut:hover:active {
  background-color: #316a45;
  border: #316a45 solid 1px;
  color: #fff;
}

.navSignIn {
  background-color: #4ea96f;
  border: #4ea96f solid 1px;
  color: #fff;
}

.navSignIn:hover, .navSignIn:hover:active {
  background-color: #316a45;
  border: #316a45 solid 1px;
}

.landing {
  text-align: center;
  display: flex;
  align-items: center;
  background-image: url('../public/blob-scene-haikei\ \(1\).svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 650px;
  width: 100%;
}

.landingBtn {
  width: 200px;
  padding: 0.5em;
  background-color: #4ea96f;
  border: #4ea96f solid 1px;
}

.landingBtn:hover, .landingBtn:hover:active {
  background-color: #316a45;
  border: #316a45 solid 1px;
}

.results {
  padding: 0.1em 0;
  background-color: #e1ece3;
}

.resHeader {
  background-image: url('../public/blob-haikei\ \(1\).svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.reactionTitle {
  /* width: 50%; */
  margin-top: 1em;
}

.reactionDesc {
  width: 25%;
}

.stackedWaves {
  background-image: url('../public/stacked-waves-haikei.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 2em;
  background-color: #e1ece3;
}

.socials {
  color: #000;
  text-decoration: none;
}

.socials:hover {
  color: #316a45;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  
}

@media (prefers-reduced-motion) {
  
}

/* Mobile */
@media (max-width: 768px) {
  .landing {
    background-image: url('../public/blob-scene-haikei\ \(3\).svg');
  }

  .resHeader {
    background-size: cover;
  }

  .resultTitle {

  }
  
  .reactionDesc {
    width: 60%;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}

@media (prefers-color-scheme: dark) {
  
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
